---
import { useTranslations } from "@/i18n/utils";
import Layout from "@/layouts/Layout.astro";

import AboutMe from "@/components/AboutMe.astro";
import Badge from "@/components/Badge.astro";
import Experience from "@/components/Experience.astro";
import Briefcase from "@/components/icons/Briefcase.astro";
import CodeIcon from "@/components/icons/Code.astro";
import DownloadIcon from "@/components/icons/Download.astro";
import GitHubIcon from "@/components/icons/GitHub.astro";
import LinkedInIcon from "@/components/icons/LinkedIn.astro";
import MailIcon from "@/components/icons/Mail.astro";
import ProfileCheck from "@/components/icons/ProfileCheck.astro";
import Projects from "@/components/Projects.astro";
import SectionContainer from "@/components/SectionContainer.astro";
import SocialPill from "@/components/SocialPill.astro";

const t = useTranslations("pt");
---

<Layout
  title={t("meta.title")}
  description={t("meta.description")}
  canonical="https://andresfrei.dev/pt/"
  lang="pt"
>
  <main class="px-4">
    <SectionContainer class="py-44 pb-32">
      <h1
        class="text-gray-900 dark:text-white text-3xl md:text-4xl lg:text-5xl font-bold flex flex-row gap-x-4 pb-6 lg:pb-10"
      >
        {t("hero.title")}<a
          href="https://linkedin.com/in/andresfrei"
          target="_blank"
          rel="noopener"
          class="flex justify-center items-center hover:scale-105 transition"
        >
          <Badge>{t("hero.badge")}</Badge>
        </a>
      </h1>
      <h2
        class="text-xl lg:text-2xl text-balance max-w-[700px] text-black dark:text-white"
      >
        <span class="text-yellow-800 dark:text-yellow-200"
          >DBA & Full Stack Developer</span
        > com
        <span class="text-red-800 dark:text-red-200"
          >20+ anos de experiência.</span
        >
        <span class="text-sky-800 dark:text-sky-200"
          >Especializado em bancos de dados, IA e otimização de sistemas.</span
        >
        <span class="text-sky-800 dark:text-sky-200">Da Argentina 🇦🇷.</span>
      </h2>

      <h2
        class="mt-4 text-xl lg:text-xl text-balance max-w-[700px] text-black dark:text-white"
      >
        Autodidata com foco em tuning avançado, migrações e planos de
        manutenção. Aplicando <span class="text-yellow-800 dark:text-yellow-200"
          >Inteligência Artificial personalizada</span
        >
        para potencializar processos de documentação e análise de sistemas.
      </h2>

      <nav class="flex gap-4 mt-8 flex-wrap">
        <SocialPill href="https://linkedin.com/in/andresfrei">
          <LinkedInIcon class="size-4 md:size-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/andresfrei">
          <GitHubIcon class="size-4 md:size-6" />
          GitHub
        </SocialPill>
        <SocialPill href="mailto:andresfrei@gmail.com">
          <MailIcon class="size-4 md:size-6" />
          Email
        </SocialPill>
        <SocialPill href={t("cv.url")}>
          <DownloadIcon class="size-4 md:size-6" />
          CV
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="experiencia">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <Briefcase class="size-7" />
        {t("experience.title")}
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="proyectos">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <CodeIcon class="size-7" />
        {t("projects.title")}
      </h2>
      <Projects />
    </SectionContainer>

    <SectionContainer id="sobre-mi">
      <h2
        class="text-3xl font-semibold mb-6 flex gap-x-3 items-center text-black/80 dark:text-white/80"
      >
        <ProfileCheck class="size-7" />
        {t("about.title")}
      </h2>
      <AboutMe />
    </SectionContainer>
  </main>
</Layout>
