---
import { ABOUT_EN, ABOUT_ES, ABOUT_PT } from "@/data/about";
import { getLangFromUrl } from "@/i18n/utils";

const currentLang = getLangFromUrl(Astro.url);

const ABOUT_DATA = {
  es: ABOUT_ES,
  en: ABOUT_EN,
  pt: ABOUT_PT,
};

const aboutContent = ABOUT_DATA[currentLang];
---

<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    {aboutContent.paragraphs.map((paragraph) => <p set:html={paragraph} />)}
  </div>
  <img src="/avatar.jpeg" class="rounded-full size-64 order-1 md:order-2" />
</section>
