---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Diciembre 2023 - Actualmente...",
    title: "Administrador DBA - Automoviles San Jorge S.A.",
    description:
      "Como DBA con enfoque proactivo y trabajando en los motores de bases de datos DBMaker y SQLServer, gestiono bases de datos para garantizar su integridad, seguridad y rendimiento. Mis responsabilidades incluyeron implementación, optimización, seguridad, respaldo/recuperación, monitoreo y soporte técnico. Desarrolle e implementé varias conexiones con CRMs populares.",
    link: "https://www.chevrolet-sanjorge.com.ar",
  },
  {
    date: "Julio 2019 - Noviembre 2023",
    title: "Administrador de Sistemas  − Sistemas de Codificación S.A.",
    description:
      "Responsable del área de sistemas. Dentro de mis funciones me enfocaba como DBA SQLServer, programador VB y Javascript. Implemente la integración con éxito de ERP Táctica y aplicaciones como PowerApps. Mejoré los procesos interno de la empresa aplicando trazabilidad a cada movimiento. Conexión a servicios gubernamentales como AFIP y ARBA.",
    link: "https://siscod.com.ar",
  },
  {
    date: "Marzo 2013 - Octubre 2018",
    title: "Programador independiente − Sistema de facturación",
    description: `Creador de un sistema para gestionar multi-depositos y repartos. Con los módulos de facturación electrónica, cuentas corrientes, cajas, entre otros. Multidepósito. Realizado en Visual Basic y SQLServer.`,
  },
  {
    date: "Febrero 2006 - Marzo 2013",
    title: "Programador independiente  − Sistema de Control de Gestión de Obra",
    description: `Creador de un sistema para gestionar obras civiles. Sus funciones principales eran los calculos de costos y seguimiento de obra. Para las empresas AFEMA S.A. y Alquimaq Sacif. Realizado en Visual Basic y SQLServer`,
  },
  {
    date: "Junio 2003 - Octubre 2018",
    title: "Programador independiente  − Sistema de liquidación sueldos",
    description:
      "Creador de un sistema para gestionar sueldos de una empresa constructora, generar pagos y declaraciones. Para la empresa AFEMA S.A. Realizado en Visual Basic y SQLServer",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
