---
import { EXPERIENCE_EN, EXPERIENCE_ES, EXPERIENCE_PT } from "@/data/experience";
import { getLangFromUrl } from "@/i18n/utils";
import ExperienceItem from "./ExperienceItem.astro";

const currentLang = getLangFromUrl(Astro.url);

const EXPERIENCE_DATA = {
  es: EXPERIENCE_ES,
  en: EXPERIENCE_EN,
  pt: EXPERIENCE_PT,
};

const EXPERIENCIE = EXPERIENCE_DATA[currentLang];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
