---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCIE = [
  {
    date: "Diciembre 2023 - Actualmente...",
    title: "Administrador DBA - Automoviles San Jorge S.A.",
    description: `Como DBA con un enfoque proactivo, gestiono bases de datos en motores como DBMaker y SQL Server para asegurar su integridad, seguridad y rendimiento óptimo. Entre mis responsabilidades se incluyen la implementación, optimización, seguridad, respaldo y recuperación de datos, así como el monitoreo y soporte técnico continuo. He desarrollado e implementado integraciones con varios CRMs populares, fortaleciendo la conectividad y el flujo de datos entre sistemas críticos.
Actualmente, también estoy implementando soluciones de inteligencia artificial para crear un documentador dinámico de un sistema COBOL, lo que permite una generación automatizada de documentación, facilitando la comprensión y el mantenimiento del sistema.`,
    link: "https://www.chevrolet-sanjorge.com.ar",
  },
  {
    date: "Julio 2019 - Noviembre 2023",
    title: "Administrador de Sistemas  − Sistemas de Codificación S.A.",
    description: `Encargado de liderar el área de sistemas, con un enfoque en la administración de bases de datos SQL Server, y en programación en Visual Basic y JavaScript. Implementé con éxito la integración del ERP Táctica y aplicaciones como PowerApps, mejorando la eficiencia de los procesos internos mediante la implementación de trazabilidad en cada movimiento. Además, establecí conexiones con servicios gubernamentales clave, como AFIP y ARBA, optimizando la interacción y el cumplimiento regulatorio de la empresa.`,
    link: "https://siscod.com.ar",
  },
  {
    date: "Marzo 2013 - Octubre 2018",
    title: "Programador independiente − Sistema de facturación",
    description: `Creador de un sistema para gestionar multi-depositos y repartos. Con los módulos de facturación electrónica, cuentas corrientes, cajas, entre otros. Multidepósito. Realizado en Visual Basic y SQLServer.`,
  },
  {
    date: "Febrero 2006 - Marzo 2013",
    title: "Programador independiente  − Sistema de Control de Gestión de Obra",
    description: `Creador de un sistema para gestionar obras civiles. Sus funciones principales eran los calculos de costos y seguimiento de obra. Para las empresas AFEMA S.A. y Alquimaq Sacif. Realizado en Visual Basic y SQLServer`,
  },
  {
    date: "Junio 2003 - Octubre 2018",
    title: "Programador independiente  − Sistema de liquidación sueldos",
    description:
      "Creador de un sistema para gestionar sueldos de una empresa constructora, generar pagos y declaraciones. Para la empresa AFEMA S.A. Realizado en Visual Basic y SQLServer",
  },
];
---

<ol class="relative border-s border-gray-200 ml-3">
  {
    EXPERIENCIE.map((experiencie) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...experiencie} />
      </li>
    ))
  }
</ol>
